extends layout.pug

block content
    #map
    #leg_title 
        span#leg_items Map Legend
    #leg
        each doc, i in jmap
            input(id=doc.id)(type='checkbox', checked)
            span#leg_items #{doc.id}
            br
    
    script(type='text/javascript').
        
        var map = L.map('map', {center:[#{lat}, #{lng}], zoom:#{zoom}, minZoom:#{minZoom}});
        var videoMarker = L.AwesomeMarkers.icon({
            icon: 'video-camera', prefix: 'fa', markerColor: 'purple'
        });
        var photoMarker = L.AwesomeMarkers.icon({
            icon: 'camera', prefix: 'fa', markerColor: 'orange'
        });
        var photopath = '/images/';
        var videopath = '/videos/';

        L.tileLayer('https://api.mapbox.com/styles/v1/ariako/cirthbuad000kgzm9iu08ekts/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXJpYWtvIiwiYSI6ImNpcnFnOWtoMTAwYm1oam5odXU3d2VqeHkifQ.hNGsmieVRgUq0QFfwmIIEg', {
            attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        $.getJSON('/maplayers',function(result){
            $.each(result, function(i, mlayer){
                $.getJSON('/mapjson/' + mlayer._id, function(data) { addLayer(data, mlayer._id) });
            });
        });
  
        function addLayer(layer, id) {
            var leaf_layer={};
            var mymarker='';
            if (layer.type == "Point") {
                if (layer.imageprops.type == "photo") {
                    mymarker = photoMarker;
                } else if (layer.imageprops.type == "video") {
                    mymarker = videoMarker;
                };
                leaf_layer = L.geoJson(layer, { pointToLayer: function (feature, latlng) {return L.marker(latlng, {icon:mymarker}); }});
                leaf_layer.bindPopup(addImgEl(layer),{maxWidth: 'auto'});
            }
            leaf_layer.addTo(map);
            
            function addImgEl(layer) {
            var img = '';
            if (layer.imageprops.type == "photo") {
                img = document.createElement("img");
                img.setAttribute("src", photopath + layer.imageprops.title);
            } else if (layer.imageprops.type == "video") {
                img = document.createElement("video");
                img.setAttribute("src", videopath + layer.imageprops.title);
                img.setAttribute("controls", "controls");
            };
            return img;
            };

            //toggle layer visibility when checking the checkbox
            $('#' + id).click(function(e) {
                
                if (map.hasLayer(leaf_layer)) {
                    map.removeLayer(leaf_layer);
                } else {
                    map.addLayer(leaf_layer);
                }
            });
        };